* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 4000px;
  width: 100vw;
  display: grid;
  grid-template-rows: 4% 94% 2%;
  overflow-x: hidden;
}

header {
  grid-row: 1/2;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#title {
  height: 30%;
  width: 100vw;
  background-color: rgba(145, 168, 231, 0.562);
  display: flex;
  justify-content: space-between;
}

#title > h1 {
  font-size: 15px;
}

#button_menu {
  width: 10vw;
  height: 90%;
  background-color: rgb(132, 165, 255);
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#button_menu > span {
  height: 15%;
  width: 90%;
  background-color: grey;
}

/*BAR_MENU_ANIMATIONS*/
@keyframes bar_menu_1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg) translate(17%, 100%);
  }
}

@keyframes bar_menu_1_return {
  from {
    transform: rotate(45deg) translate(17%, 100%);
  }
  to {
    transform: rotate(0deg) translate(0%, 0%);
  }
}

@keyframes bar_menu_2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg) translate(7%, -30%);
  }
}

@keyframes bar_menu_2_return {
  from {
    transform: rotate(-45deg) translate(7%, -30%);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes bar_menu_3 {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-45deg) translate(17%, -100%);
    opacity: 0;
  }
}

@keyframes bar_menu_3_return {
  from {
    transform: rotate(-45deg) translate(17%, -100%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}

/*BAR_MENU_ANIMATIONS*/

#menu {
  height: 0%;
  opacity: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

@keyframes menu_expand {
  from {
    display: none;
    height: 0%;
    opacity: 0;
  }
  to {
    height: 70%;
    opacity: 1;
    display: flex;
  }
}

@keyframes menu_contract {
  from {
    height: 70%;
    opacity: 1;
    display: flex;
  }
  to {
    display: none;
    height: 0%;
    opacity: 0;
  }
}

#menu > li {
  height: 33%;
  width: 100vw;
  background-color: grey;
  text-align: center;
  border-bottom: 2px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu > li > a {
  text-decoration: none;
  color: black;
}

/*------HEADER--MAIN------------------*/

main {
  /*   background-color: rgba(190, 190, 248, 0.411); */

  /*   background: rgb(190, 190, 248);
  background: linear-gradient(
    90deg,
    rgba(190, 190, 248, 1) 0%,
    rgba(152, 152, 255, 0.7567401960784313) 28%,
    rgba(42, 42, 255, 0.5466561624649859) 84%
  ); */
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: grid;
  grid-template-rows: 8% 23% 23% 16% 14%;
  row-gap: 4%;
}

/*INICIO SECCION NOSOTROS*/

#nosotros {
  background-color: blue;
}

#info_nosotros {
  margin-top: 5%;
}

/*FIN SECCION NOSOTROS*/

/*INICIO SECCION SERVICIOS*/

#services {
  background-color: red;
  display: grid;
  grid-template-rows: 5% 95%;
}
#title_nosotros,
#title_services,
#title_diagnostico,
#title_reparaciones,
#title_venta {
  text-align: center;
  border-bottom: 1px rgba(99, 99, 99, 0.37) solid;
}

#info_services {
  display: grid;
  grid-template-rows: 33% 33% 33%;
}

#diagnostico {
  display: flex;
  flex-direction: column;
}

#info_diagnostico,
#info_reparacion,
#info_venta {
  display: flex;
}
/*FIN SECCION SERVICIOS*/
/*INICIO SECCION BRANDS*/

#brands {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  row-gap: 5%;
}

#brands > h2 {
  font-size: 17px;
}

#coramex,
#gnatus,
#myray {
  display: flex;
  align-items: center;
  border: 1px #e0e0e0 double;
  background-color: #f0f0f0bd;
  width: 95vw;
  height: 30%;
}

#coramex > p,
#gnatus > p,
#myray > p {
  font-size: 13px;
}

#coramex,
#myray {
  margin-left: -110vw;
}

#gnatus {
  margin-left: 110vw;
}

#coramex_logo,
#gnatus_logo,
#myray_logo {
  width: 25vw;
  height: 60%;
}

@keyframes left_to_right {
  from {
    margin-left: -110vw;
    opacity: 0;
  }
  to {
    margin-left: 0vw;
    opacity: 1;
  }
}

@keyframes right_to_left {
  from {
    margin-left: 110vw;
    opacity: 0;
  }
  to {
    margin-left: 0vw;
    opacity: 1;
  }
}

/*FIN SECCION BRANDS*/
/*INICIO SECCION PRODUCTOS*/

#products {
  display: flex;
  flex-direction: column;
}

#wrap_title_products {
  text-align: center;
  height: 10%;
}

#wrap_main_products {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  height: 90%;
}

#arrow_back {
  grid-column: 1/2;
}

#wrap_products {
  grid-column: 2/3;
  height: 90%;
  column-gap: 5%;
  overflow: hidden;
  display: -webkit-inline-box;
}

#product_one,
.product {
  height: 95%;
  width: 95%;
  float: left;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#product_one > p,
.product > p {
  margin: 5%;
}

.one {
  background-color: blue;
}

.two {
  background-color: white;
}

.three {
}

@keyframes first_next {
  from {
    margin-left: 0vw;
  }
  to {
    margin-left: -100%;
  }
}

@keyframes second_next {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: -200%;
  }
}

@keyframes first_previous {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes second_previous {
  from {
    margin-left: -200%;
  }
  to {
    margin-left: -100%;
  }
}

#arrow_forward {
  grid-column: 3/4;
}

#arrow_back,
#arrow_forward {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#arrow_back > img,
#arrow_forward > img {
  background-color: rgba(128, 128, 128, 0.486);
  border: 3px grey solid;
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.75);
}

/*FIN SECCION PRODUCTOS*/
/*INICIO SECCION MAIL*/

#contact {
  display: grid;
  grid-template-rows: 10% 84%;
  padding-bottom: 2%;
  row-gap: 4%;
}

#mail_section {
  display: grid;
  grid-template-columns: 48vw 48vw;
  grid-template-rows: repeat(10, 5%) 15% 5% 15%;
  row-gap: 1.5%;
  column-gap: 4vw;
}

#error_name,
#error_last_name,
#error_mail,
#error_subject,
#error_mensaje {
  display: none;
  background-color: rgba(255, 71, 71, 0.562);
  border: red 1px double;
}

#name,
#last_name,
#mail,
#subject,
#mensaje {
  background-color: #86868675;
  border: 1px grey solid;
}

#label_name {
  grid-row: 1/2;
  grid-column: 1/2;
}

#name {
  grid-row: 2/3;
  grid-column: 1/2;
}

#error_name {
  grid-row: 3/4;
  grid-column: 1/2;
}

#label_last_name {
  grid-row: 1/2;
  grid-column: 2/3;
}

#last_name {
  grid-row: 2/3;
  grid-column: 2/3;
}

#error_last_name {
  grid-row: 3/4;
  grid-column: 2/3;
}

#label_mail {
  grid-row: 4/5;
}

#mail {
  grid-row: 5/6;
  grid-column: 1/3;
}

#error_mail {
  grid-row: 6/7;
  grid-column: 1/3;
}

#label_subject {
  grid-row: 7/8;
  grid-column: 1/3;
}

#subject {
  grid-row: 8/9;
  grid-column: 1/3;
}

#error_subject {
  grid-row: 9/10;
  grid-column: 1/3;
}

#label_mensaje {
  grid-row: 10/11;
}

#mensaje {
  grid-row: 11/12;
  grid-column: 1/3;
}

#error_mensaje {
  grid-row: 12/13;
}

#submit {
  grid-row: 13/14;
  grid-column: 1/3;
  width: 80%;
  margin-left: 10%;
  background-color: #4682b4e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

@keyframes inputs_enter {
  from {
    background-color: #86868675;
  }
  to {
    background-color: white;
  }
}

@keyframes inputs_out {
  from {
    background-color: white;
  }
  to {
    background-color: #86868675;
  }
}

@keyframes submit_successful {
  from {
    background-color: #4682b4e0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
  to {
    background-color: #03b903e0;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
  }
}

@keyframes submit_error {
  from {
    background-color: #4682b4e0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
  to {
    background-color: #ff2020fa;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
  }
}

@keyframes submit_error_return {
  from {
    background-color: #4682b4e0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
  to {
    background-color: #ff2020fa;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
  }
}

#mail_sent {
  display: none;
  background-color: red;
  height: 200px;
  width: 200px;
}

/*FIN SECCION MAIL*/
/*------MAIN--FOOTER---------------*/
/*INCIO SECCION FOOTER*/

/*FIN SECCION FOOTER*/
footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/*INICIO RESPONSIVE*/
